{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}
	DevWards
{% endblock title %}

{% block content %}
	<header class="head">
		<div class="background-white">
			<div class="container">
				<div class="head__one  row between middle">
					<span class="head__one__item">
						Los premios para el diseño, la creatividad y la innovación en Internet
					</span>
					{% if user.is_authenticated %}
						<span>Hola, {{ user.username }}</span>
						<a class="head__one__item-a head__one__item-a--bold" href="{% url 'users:logout' %}">Salir</a>
					{% else %}
						<ul class="row middle">
							<li class="head__one__item">
								<a class="head__one__item-a">¿Eres miembro?</a>
							</li>
							<li class="head__one__item ">
								<a class="head__one__item-a head__one__item-a--bold" href="{% url 'users:register' %}">Registrar</a>
								<a class="head__one__item-a head__one__item-a--bold" href="{% url 'users:login' %}">Iniciar sesión</a>
							</li>
						</ul>
					{% endif %}
				</div>	
			</div>
		</div>
		<div class="background-gray border__bottom-gray shadow__menu">
			<div class="container">
				<div class="head__two row between middle">
					<span class="head__two__item--logo">devwards</span>
					<ul class="row middle">
						<li class="head__two__item">
							<a class="head__two__item-a" href="">home</a>
						</li>
						<li class="head__two__item">
							<a class="head__two__item-a" href="">nosotros</a>
						</li>
						<li class="head__two__item">
							<a class="head__two__item-a head__two__item-a--button" href="{% url 'webs:send' %}">enviar tu sitio</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<section class="background-gray">
		<div class="container--1000">
			<article class="site__main row middle">
				<div class="site__main-section--left">
					<figure class="site__main-section__figure">
						<a href="{% url 'webs:website_detail' last_website.slug %}">
							<img src="{{ last_website.image1.url }}" alt="">
						</a>
					</figure>
				</div>
				<div class="site__main-section--right">
					<div class="site__main-section--header">
						<span>{{ last_website.created_at|date:"D d M Y" }}</span>
						<h2>{{ last_website.name }}</h2>
						<p>By <strong>{{ last_website.designer }}</strong></p>
					</div>
					<div class="site__main-section--notes row middle between">
						<div class="site__main-section--notes--item row column">
							<canvas class="site__main-section--notes-circle" id="myChart1" width="50" height="50"></canvas>
							<span class="site__main-section--notes--item__percent">7.90</span>
							<p class="site__main-section--notes--item__name">Diseño</p>
						</div>
						<div class="site__main-section--notes--item row column">
							<canvas class="site__main-section--notes-circle" id="myChart2" width="180" height="180"></canvas>
							<span class="site__main-section--notes--item__percent">7.90</span>
							<p class="site__main-section--notes--item__name">Usabilidad</p>
						</div>
						<div class="site__main-section--notes--item row column">
							<canvas class="site__main-section--notes-circle" id="myChart3" width="180" height="180"></canvas>
							<span class="site__main-section--notes--item__percent">7.90</span>
							<p class="site__main-section--notes--item__name">Creatividad</p>
						</div>
						<div class="site__main-section--notes--item row column">
							<canvas class="site__main-section--notes-circle" id="myChart4" width="180" height="180"></canvas>
							<span class="site__main-section--notes--item__percent">7.90</span>
							<p class="site__main-section--notes--item__name">Contenido</p>
						</div>
					</div>
					<div class="site__main-section--jury">
						<div class="row middle around">
							<img src="{% static 'img/persona1.' %}jpg" alt="">
							<img src="{% static 'img/persona2.' %}jpg" alt="">
							<img src="{% static 'img/persona3.' %}jpg" alt="">
						</div>
					</div>
				</div>
			</article>
			<article class="site__content row column">
				<p class="site__content__title">Estos son los siguientes nominados</p>
				<ul class="site__content__nominateds row wrap between">
					{% for website in websites %}
						<li class="site__content__nominated">
							<figure class="site__content__nominated--figure">
								<img src="{{ website.image1.url }}" alt="">
							</figure>
							<div class="row column">
								<div class="site__content__nominated-head">
									<h4 class="site__content__nominated--title">{{ website.name }}</h4>
									<p class="site__content__nominated--description">By {{ website.designer }}</p>
								</div>
								<div class="site__content__nominated-footer row middle between">
									<span class="site__content__nominated--score">7.76</span>
									<a class="site__content__nominated--button"
									href="{% url 'webs:website_detail' website.slug %}"
									
									>Votar</a>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</article>
		</div>
	</section>
	<footer class="footer">
		<div class="background-white">
			<span class="footer-icon icon-twitter"></span>
			<span class="footer-icon icon-facebook"></span>
			<span class="footer-icon footer-icon--heart icon-heart"></span>
			<span class="footer-icon icon-google-plus"></span>
			<span class="footer-icon icon-vimeo"></span>
		</div>
	</footer>
{% endblock content %}

{% block scripts %}
	<script>
		var data1 = [
			{
				value: 90,
				color: "#3673D9"
			}, 
			{
				value: 10,
				color: "#0095FF"
			}
		];
		var data2 = [
			{
				value: 90,
				color: "#D0021B"
			}, 
			{
				value: 10,
				color: "#0095FF"
			}
		];
		var data3 = [
			{
				value: 90,
				color: "#F5A623"
			}, 
			{
				value: 10,
				color: "#0095FF"
			}
		];

		var data4 = [
			{
				value: 90,
				color: "#7ED321"
			}, 
			{
				value: 10,
				color: "#0095FF"
			}
		];

		var options = {
			responsive: true,
			animation: false,
			percentageInnerCutout : 75
		};

		var c1 = $('#myChart1');
		var c2 = $('#myChart2');
		var c3 = $('#myChart3');
		var c4 = $('#myChart4');

		var ct1 = c1.get(0).getContext('2d');
		var ct2 = c2.get(0).getContext('2d');
		var ct3 = c3.get(0).getContext('2d');
		var ct4 = c4.get(0).getContext('2d');

		var ctx1 = document.getElementById("myChart1").getContext("2d");
		myNewChart1 = new Chart(ct1).Doughnut(data1, options);

		var ctx2 = document.getElementById("myChart2").getContext("2d");
		myNewChart2 = new Chart(ct2).Doughnut(data2, options);

		var ctx3 = document.getElementById("myChart3").getContext("2d");
		myNewChart3 = new Chart(ct3).Doughnut(data3, options);

		var ctx4 = document.getElementById("myChart4").getContext("2d");
		myNewChart4 = new Chart(ct4).Doughnut(data4, options);
	</script>
{% endblock scripts %}

	
