{% include "main/base.html" %}

{% load static from staticfiles %}

{% block content %}
	<header class="head-login">
		<div class="background-gray border__bottom-gray shadow__menu">
			<div class="container">
				<div class="head__two row between middle">
					<span class="head__two__item--logo">devwards</span>
					<ul class="row middle">
						<li class="head__two__item">
							<a class="head__two__item-a" href="">home</a>
						</li>
						<li class="head__two__item">
							<a class="head__two__item-a" href="">nosotros</a>
						</li>
						<li class="head__two__item">
							<a class="head__two__item-a head__two__item-a--user">JulioGrados</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<section class="background-gray">
		<div class="container--1000">
			<article class="site__detail--main row middle between">
				<div class="site__detail--main__left">
					<span>{{ website.created_at|date:"D d M Y" }}</span>
					<h2>{{ website.name }}</h2>
					<p>By <strong>{{ website.designer }}</strong></p>
					<p class="site__detail--main__left-description">{{ website.description }}</p>
				</div>
				<div class="site__detail--main__rigth row column">
					{% if not already_vote %}
					<div id="js-desing" class="site__detail--main__rigth-vote row column center">
						<span>Realizar voto:</span>
						<h3>1.- Diseño</h3>
						<div class="row around">
							<span onclick="votoDiseño(this);" data-valor="1" class="site__square">1</span>
							<span onclick="votoDiseño(this);" data-valor="2" class="site__square">2</span>
							<span onclick="votoDiseño(this);" data-valor="3" class="site__square">3</span>
							<span onclick="votoDiseño(this);" data-valor="4" class="site__square">4</span>
							<span onclick="votoDiseño(this);" data-valor="5" class="site__square">5</span>
							<span onclick="votoDiseño(this);" data-valor="6" class="site__square">6</span>
							<span onclick="votoDiseño(this);" data-valor="7" class="site__square">7</span>
							<span onclick="votoDiseño(this);" data-valor="8" class="site__square">8</span>
							<span onclick="votoDiseño(this);" data-valor="9" class="site__square">9</span>
							<span onclick="votoDiseño(this);" data-valor="10" class="site__square">10</span>
						</div>
					</div>
					<div id="js-usability" class="site__detail--main__rigth-vote row column center" style="display:none;">
						<span>Realizar voto:</span>
						<h3>2.- Usabilidad</h3>
						<div class="row around">
							<span onclick="votoUsabilidad(this);" data-valor="1" class="site__square">1</span>
							<span onclick="votoUsabilidad(this);" data-valor="2" class="site__square">2</span>
							<span onclick="votoUsabilidad(this);" data-valor="3" class="site__square">3</span>
							<span onclick="votoUsabilidad(this);" data-valor="4" class="site__square">4</span>
							<span onclick="votoUsabilidad(this);" data-valor="5" class="site__square">5</span>
							<span onclick="votoUsabilidad(this);" data-valor="6" class="site__square">6</span>
							<span onclick="votoUsabilidad(this);" data-valor="7" class="site__square">7</span>
							<span onclick="votoUsabilidad(this);" data-valor="8" class="site__square">8</span>
							<span onclick="votoUsabilidad(this);" data-valor="9" class="site__square">9</span>
							<span onclick="votoUsabilidad(this);" data-valor="10" class="site__square">10</span>
						</div>
					</div>
					<div id="js-creativity" class="site__detail--main__rigth-vote row column center" style="display:none;">
						<span>Realizar voto:</span>
						<h3>3.- Creatividad</h3>
						<div class="row around">
							<span onclick="votoCreatividad(this);" data-valor="1" class="site__square">1</span>
							<span onclick="votoCreatividad(this);" data-valor="2" class="site__square">2</span>
							<span onclick="votoCreatividad(this);" data-valor="3" class="site__square">3</span>
							<span onclick="votoCreatividad(this);" data-valor="4" class="site__square">4</span>
							<span onclick="votoCreatividad(this);" data-valor="5" class="site__square">5</span>
							<span onclick="votoCreatividad(this);" data-valor="6" class="site__square">6</span>
							<span onclick="votoCreatividad(this);" data-valor="7" class="site__square">7</span>
							<span onclick="votoCreatividad(this);" data-valor="8" class="site__square">8</span>
							<span onclick="votoCreatividad(this);" data-valor="9" class="site__square">9</span>
							<span onclick="votoCreatividad(this);" data-valor="10" class="site__square">10</span>
						</div>
					</div>
					<div id="js-content" class="site__detail--main__rigth-vote row column center" style="display:none;">
						<span>Realizar voto:</span>
						<h3>4.- Contenido</h3>
						<div class="row around">
							<span onclick="votoContenido(this);" data-valor="1" class="site__square">1</span>
							<span onclick="votoContenido(this);" data-valor="2" class="site__square">2</span>
							<span onclick="votoContenido(this);" data-valor="3" class="site__square">3</span>
							<span onclick="votoContenido(this);" data-valor="4" class="site__square">4</span>
							<span onclick="votoContenido(this);" data-valor="5" class="site__square">5</span>
							<span onclick="votoContenido(this);" data-valor="6" class="site__square">6</span>
							<span onclick="votoContenido(this);" data-valor="7" class="site__square">7</span>
							<span onclick="votoContenido(this);" data-valor="8" class="site__square">8</span>
							<span onclick="votoContenido(this);" data-valor="9" class="site__square">9</span>
							<span onclick="votoContenido(this);" data-valor="10" class="site__square">10</span>
						</div>
					</div>

					<div id="js-vote" class="site__detail--main__rigth-vote row column center" style="display:none;">
						<div class="site__detail-vote__circle  row middle center">
							<span id="js-desingVote" class="site__circle site__circle-desing">9</span>
							<span id="js-usabilityVote" class="site__circle site__circle-usability">9</span>
							<span id="js-creativityVote" class="site__circle site__circle-creativity">9</span>
							<span id="js-contentVote" class="site__circle site__circle-content">9</span>
						</div>
						<div class="site__detail-vote__buttons row middle center">
							<a class="site__detail-vote__button__edit" onclick="editVote();">Editar</a>
							<a class="site__detail-vote__button__vote" onclick="doVote();">Voto</a>
						</div>
					</div>

					{% else %}
						<div id="js-doVote" class="site__detail--main__rigth-vote row column center" style="display:none;">
							
							<a class="site__detail-vote__button__vote-do" >Voto Realizado</a>
							
						</div>
					{% endif %}
					

					<div class="site__main-section--notes row middle between">
						<div class="site__main-section--notes--item row column">
							<canvas class="site__main-section--notes-circle" id="myChart1" width="50" height="50"></canvas>
							<span class="site__main-section--notes--item__percent">7.90</span>
							<p class="site__main-section--notes--item__name">Diseño</p>
						</div>
						<div class="site__main-section--notes--item row column">
							<canvas class="site__main-section--notes-circle" id="myChart2" width="180" height="180"></canvas>
							<span class="site__main-section--notes--item__percent">7.90</span>
							<p class="site__main-section--notes--item__name">Usabilidad</p>
						</div>
						<div class="site__main-section--notes--item row column">
							<canvas class="site__main-section--notes-circle" id="myChart3" width="180" height="180"></canvas>
							<span class="site__main-section--notes--item__percent">7.90</span>
							<p class="site__main-section--notes--item__name">Creatividad</p>
						</div>
						<div class="site__main-section--notes--item row column">
							<canvas class="site__main-section--notes-circle" id="myChart4" width="180" height="180"></canvas>
							<span class="site__main-section--notes--item__percent">7.90</span>
							<p class="site__main-section--notes--item__name">Contenido</p>
						</div>
					</div>
				</div>
			</article>
			<article class="site__detail--images">
				<img class="site__detail--images__figure" src="{{ website.image1.url }}" alt="">
				<img class="site__detail--images__figure" src="{{ website.image2.url }}" alt="">
				<img class="site__detail--images__figure" src="{{ website.image3.url }}" alt="">
			</article>
			<article class="site__detail--authors row middle between">
				<div class="site__detail--author row column">
					<div class="row middle">
						<figure class="site__detail--author__figure">
							<img src="{% static 'img/persona1.jpg' %}" alt="">
						</figure>
						<div class="site__detail--author__name row column">
							<h4>Juan Jose Pino</h4>
							<span>dcamilleri.com</span>
						</div>
					</div>
					<p class="site__detail--author__description">Front-end Developer at Firstborn. JavaScript developer @wisembly and @Get_Solid.</p>
				</div>
				<div class="site__detail--author row column">
					<div class="row middle">
						<figure class="site__detail--author__figure">
							<img src="{% static 'img/persona1.jpg' %}" alt="">
						</figure>
						<div class="site__detail--author__name row column">
							<h4>Juan Jose Pino</h4>
							<span>dcamilleri.com</span>
						</div>
					</div>
					<p class="site__detail--author__description">Front-end Developer at Firstborn. JavaScript developer @wisembly and @Get_Solid.</p>
				</div>
				<div class="site__detail--author row column">
					<div class="row middle">
						<figure class="site__detail--author__figure">
							<img src="{% static 'img/persona1.jpg' %}" alt="">
						</figure>
						<div class="site__detail--author__name row column">
							<h4>Juan Jose Pino</h4>
							<span>dcamilleri.com</span>
						</div>
					</div>
					<p class="site__detail--author__description">Front-end Developer at Firstborn. JavaScript developer @wisembly and @Get_Solid.</p>
				</div>
			</article>
		</div>
	</section>
	<footer class="footer">
		<div class="background-white">
			<span class="footer-icon icon-twitter"></span>
			<span class="footer-icon icon-facebook"></span>
			<span class="footer-icon footer-icon--heart icon-heart"></span>
			<span class="footer-icon icon-google-plus"></span>
			<span class="footer-icon icon-vimeo"></span>
		</div>
	</footer>
{% endblock content %}

{% block scripts %}
	<script>

		var valDesign = 0;
		var valUsability = 0;
		var valCreativity = 0;
		var valContent = 0;

		var data1 = [
			{
				value: 90,
				color: "#3673D9"
			}, 
			{
				value: 10,
				color: "#0095FF"
			}
		];
		var data2 = [
			{
				value: 90,
				color: "#D0021B"
			}, 
			{
				value: 10,
				color: "#0095FF"
			}
		];
		var data3 = [
			{
				value: 90,
				color: "#F5A623"
			}, 
			{
				value: 10,
				color: "#0095FF"
			}
		];

		var data4 = [
			{
				value: 90,
				color: "#7ED321"
			}, 
			{
				value: 10,
				color: "#0095FF"
			}
		];

		var options = {
			responsive: true,
			animation: false,
			percentageInnerCutout : 75
		};

		var c1 = $('#myChart1');
		var c2 = $('#myChart2');
		var c3 = $('#myChart3');
		var c4 = $('#myChart4');

		var ct1 = c1.get(0).getContext('2d');
		var ct2 = c2.get(0).getContext('2d');
		var ct3 = c3.get(0).getContext('2d');
		var ct4 = c4.get(0).getContext('2d');

		var ctx1 = document.getElementById("myChart1").getContext("2d");
		myNewChart1 = new Chart(ct1).Doughnut(data1, options);

		var ctx2 = document.getElementById("myChart2").getContext("2d");
		myNewChart2 = new Chart(ct2).Doughnut(data2, options);

		var ctx3 = document.getElementById("myChart3").getContext("2d");
		myNewChart3 = new Chart(ct3).Doughnut(data3, options);

		var ctx4 = document.getElementById("myChart4").getContext("2d");
		myNewChart4 = new Chart(ct4).Doughnut(data4, options);

		//Votos

		function votoDiseño (argument) {
			valDesign = parseInt(argument.dataset.valor);
			$( '#js-desing' ).hide();
			$( '#js-usability' ).show();
		}

		function votoUsabilidad (argument) {
			valUsability = parseInt(argument.dataset.valor);
			$( '#js-usability' ).hide();
			$( '#js-creativity' ).show();	
		}

		function votoCreatividad (argument) {
			valCreativity = parseInt(argument.dataset.valor);
			$( '#js-creativity' ).hide();
			$( '#js-content' ).show();		
		}

		function votoContenido (argument) {
			valContent = parseInt(argument.dataset.valor);
			$( '#js-content' ).hide();
			$( '#js-vote' ).show();

			$('#js-desingVote').text(valDesign);
			$('#js-usabilityVote').text(valUsability);
			$('#js-creativityVote').text(valCreativity);
			$('#js-contentVote').text(valContent);
		}

		function editVote (argument) {
			$( '#js-vote' ).hide();
			$( '#js-desing' ).show();
		}

		function doVote (argument) {
			var data = {
				valDesign: valDesign,
				valUsability: valUsability,
				valCreativity: valCreativity,
				valContent: valContent,
				websiteID: '{{ website.id }}'
			};
			$.ajax({
				data: data,
				method: 'get',
				url: '/vote/',
				success: function (data) {
					valDesign = 0;
					valUsability = 0;
					valCreativity = 0;
					valContent = 0;
					$( '#js-vote' ).hide();
					$('#js-doVote').show();
				},
				error: function (err) {

				}
			})
			
		}

		var alreadyVote = '{{ already_vote }}';
		if (alreadyVote === 'True') {
			$('#js-doVote').show();
		}
	</script>
{% endblock scripts %}
